#https://docs.aws.amazon.com/sdkref/latest/guide/settings-reference.html#EVarSettings

# BackBlaze B2 credentials
# Found in your BackBlaze account under "App Keys"
# AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY are the conventional names
# that the AWS SDK looks for.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


# The name of the bucket you want to upload files to.
BUCKET_NAME=your-bucket-name

# The S3 endpoint URL for your bucket's region.
# e.g., s3.us-west-000.backblazeb2.com
AWS_ENDPOINT_URL=
AWS_REGION=your-region # e.g. us-west-000

ZIP_PASSWORD=test123

